
//font-size
$font-size-12:  	12px;
$font-size-base:	14px;
$font-size-16:  	16px;
$font-size-18:  	18px;
$font-size-20:  	20px;
$font-size-24:  	24px;
$font-size-28:  	28px;
$font-size-30:  	30px;
$font-size-32:  	32px;
$font-size-48:  	48px;
$font-size-100: 	100px;

// color
$font:          	#b3b3b3;
$bluefont:      	#80a6e0;
$redfont:       	#ff1a47;
$darkfont:      	#585858;
$mediumfont:    	#808080;
$extradarkfont: 	#333333;

// black
$darkBlack:				#151515;
$pureBlack:				#000000;
$lightBlack:            #494949;
$extralightBlack:       #8e8e8e;
$mediumlightBlack:      #595959;

//gray
$extradarkgray: 		#d9d9d9;
$mediumdarkgray:    #b5b5b5;
$darkgray:      		#e1e1e1;
$gray:          		#f2f2f2;
$mediumlightgray:   #f5f5f5;
$lightgray:     		#f7f7f7;
$extralightgray: 		#fcfcfc;
$extralightergray:  #fafafa;
$approachwhite:			#E1DEDE;
$white:         		#fff;

//smoke
$extradarksmoke:	#353535;
$darksmoke:     	#5e5e5e;
$smoke:         	#a3a3a3;
$lightsmoke:        #7f7f7f;

//blue
$darkblue:      	#004dc2;
$brightblue:        #0061f3;
$blue:          	#0061f3;
$lighterblue:   	#f0f7ff;
$lightblue:     	#a8cbff;
$darkgrayblue:  	#668cc5;
$grayblue:      	#69A2F7;
$disco:         	#2ec7fa;
$lightdisco:        #2ec7fb;
$extralightblue:    #e7f9ff;
$mediumlightblue:   #dcecf1;
$extradarkblue:     #2e466b;

// orange
$darkorange:    	#e69d00;
$orange:        	#ffaf00;
$lightorange:   	#ffc64c;
$extralightorange:#fffbe7;

// red
$darkred:       	#e61740;
$red:           	#ff1947;
$lightred:      	#ff8099;
$mediumlightred:    #f0d8da;
$extralightred:     #fff5f7;

//green
$darkgreen:     	#1c9e18;
$green:         	#1fb71b;
$lightgreen:    	#25d11f;

// solitaire
$darksolitaire: 	#f1ecda;
$solitaire:     	#fff9e0;
$lightsolitaire:	#fffcf0;


//border-radius
$border-radius-small:     		2px;
$border-radius-base:      		4px;
$border-radius-normal:    		6px;
$border-radius-large:     		10px;
$border-radius-extralarge:		12px;
